body header navbar#blog-navbar {
    background-color: $link-fa-background-color-blog; 
    a#brand:hover {
        color: $blog-navbar-brand-hover-color;
    }
    #menu-button:hover {
        color: $blog-navbar-brand-hover-color;
    }
    ul#menu-link-list {
        background-color: $blog-navbar-background-color;
        li {  
            a:hover {
                @include breakpoint(large) {
                    background-color: $blog-navbar-link-hover-bgc;
                    color: $blog-navbar-link-hover-color;
                }
                @include breakpoint(small-medium) {
                    text-decoration: underline;
                    background-color: inherit;
                }
            }
            span.customSelect {
                background-color: $blog-navbar-select-color;
            }
        }
    }
    @include breakpoint(small-medium) {
        #link-home-blog:before {
            font-family: FontAwesome;
            content: "\f015";
        }

        #category-video-games:before {
            font-family: FontAwesome;
            content: "\f11b";
        }

        #category-uncategorized:before {
            font-family: FontAwesome;
            content: "";
        }

        #category-coding:before {
            font-family: FontAwesome;
            content: "\f120";
        }
        #link-rss:before {
            font-family: FontAwesome;
            content: "\f09e";
        }
    }
}
#blog-container {
    padding-top : $container-padding-top;
    padding-left: 5%;
    padding-right: 5%;
    
    a {
        color: $link-color-font;
        text-decoration: none;  
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    a:visited {
        color: $link-color-font;
    }
    
    p {
        line-height: $blog-post-p-line-height;
        font-size: $blog-post-p-font-size;
        text-align: justify;
    }
    
    #blog-block {
        width: 100%;
    }
    
    .blog-post {
        text-shadow: none;
        padding: 2%;
        border-bottom: $blog-post-border-size solid $blog-post-border-color;
        padding-bottom: $blog-post-margin-bottom;
        
        &:last-of-type {
            border: none;
        }
        
        h1 {
            letter-spacing: $blog-post-title-letter-spacing;    
        }
        
        .post-edition {
            font-size: $blog-post-post-edition-font-size;
            color: grey;
        }
        
        .post-title {
            margin-top: $blog-post-title-margin-top;
            color: black;
            a {
                color: inherit;
            }
            a:visited {
                color: inherit;
            }
        }
        
        .post-category, .post-tag {
            a {
                color: $link-color-font;
            }
        }
        
        .post-content {
            a {
                color: $link-color-font;
            }
            
            a:visited {
                color: $link-color-font-visited;
            }
        }
        #disqus_thread {
            margin-bottom: $blog-post-disqus-thread-margin-bottom;
        }
        #next-article {
            float: right;
        }
    }
    .pagination {
        position: relative;
        height: $blog-post-pagination-height;
        #next-page {
            position:absolute;
            right: 0;
        }
        #previous-page {
            position:absolute;
            left:  0;
        }
    }
    
    // 404
    #not-found-title {
		font-size: $not-found-title-font-size;
		text-align: center;
	}
    #image-not-found {
        text-align: center;
        img {
            width: auto;
            height: 300px;
            @include breakpoint(small) {
                height: 200px;
            }

            @include border-radius(600px);
            @include box-shadow($menu-shadow-x, $menu-shadow-y, $menu-shadow-blur, $menu-shadow-color);
        }
    }
    #not-found-text {
        text-align: center;
    }
}

#blog-footer {
    background-color: $link-fa-background-color-blog;
    a:hover {
        color: $blog-footer-link-hover-color;
    }
    
    #copyright {
        text-align: center;
        margin-bottom: 0;
        font-size: $blog-post-post-edition-font-size;
    }
}